# EXERCISE 1 5

1. What is the output of the following print statements?

print("\ta\tb\tc") 
print("\\\\")
print("'")
print("\"\"\"")
print("C:\nin\the downward spiral")


The output of the following print statement will be:
a	b	c
\\
'
"""
C:
in	he downward spiral


The solution is displayed below

In [1]:
print("\ta\tb\tc")

	a	b	c

In [2]:
print("\\\\")

\\

In [3]:
print("'")

'

In [4]:
print("\"\"\"")

"""

In [5]:
print("C:\nin\the downward spiral") #The \n here means a new line

C:
in	he downward spiral

2. Write a print statement to produce this output:
/ \ // \\ /// \\\  


The solution is displayed below:

In [6]:
print("/ \\ // \\\\ /// \\\\\\")

/ \ // \\ /// \\\

3. What print statements will generate this output?

This quote is from 
Irish poet Oscar Wilde:
"Music makes one feel so romantic
- at least it always gets on one's nerves-
which is the same thing nowadays."


The solution is displayed below:

In [7]:
print("This quote is from\nIrish Poet Oscar Wilde:\n\"Music makes one feel so romantic")
print("- at least it always get on one's nerves-\nwhich is the same thing nowadays.\"")

This quote is from
Irish Poet Oscar Wilde:
"Music makes one feel so romantic
- at least it always get on one's nerves-
which is the same thing nowadays."

5. What values result from the following expressions?

– 9 / 5

– 695 % 20

– 7 + 6 * 5

– 7 * 6 + 5

– 248 % 100 / 5

– 6 * 3 - 9 / 4

– (5 - 7) * 4

– 6 + (18 % (17 - 12)

The values that are gotten from the expressions are:
-1.8
-15
-37
-47
-9.6
-15.75       
-(-8)
-9


The solutions are displayed below:

In [8]:
print(9/5)

1.8

In [9]:
print(695 % 20)

15

In [10]:
print(7 + 6 * 5)

37

In [11]:
print(7 * 6 + 5)

47

In [12]:
#print(248 % 100/ 5)
num=print(248 % 100)

48

In [13]:
print(6 * 3 - 9 / 4)

15.75

In [14]:
(5 - 7) * 4

-8

In [15]:
print( 6 + (18 % (17 - 12)))

9

# Exercise 3 4

1. Write a program that finds the maximum value of the given list, assuming that the list
contains at least one element.
Try your program with the following array
[2, 4, 7, 4, 23, 5, 1, 4, 8, 9]

In [16]:
#using the def function
def find_max_val(lst):
    max_val=lst[0] #assume your first value is maximum
    
    for num in lst:
        if num > max_val:
            max_val = num
    return max_val   
        
val_array = [2, 4, 7, 4, 23, 5, 1, 4, 8, 9]
max_val=find_max_val(val_array)
print("The maximum value in the val_array:",max_val)

The maximum value in the val_array: 23

In [17]:
#without using def function
array_list = [2, 4, 7, 4, 23, 5, 1, 4, 8, 9]
#assume the first element in the array_list is the max_value
max_value = array_list[0]
#iterate through the array_list to pick the maximum value 
for num in array_list:
    if num > max_val:
        max_val = num
print("The maximum value in the array_list is:",max_val)

The maximum value in the array_list is: 23

In [18]:
#To get the minimum value
array_list = [2, 4, 7, 4, 23, 5, 1, 4, 8, 9]
min_val = array_list[0]
for num in array_list:
    if num < min_val:
        min_val=num
print("The minimum value is in array_list is:",min_val)

The minimum value is in array_list is: 1

2.Write a program that calculates the average value of the given list.
Try your program with the following list
[4, 7, 1, 5, 11, 53, 12, 46, 84, 23]


The solution is displayed below

In [19]:
given_list = [4, 7, 1, 5, 11, 53, 12, 46, 84, 23]
#first sum the list by sing the sum function
sum_list=sum(given_list)
#Then calculate the length of the list by using the len function
num_list=len(given_list)
#Then divide the functions
av_list=sum_list/num_list
print("The average list of the given value list is:",av_list)

The average list of the given value list is: 24.6

3.Write a program that prints the given list of integers in reverse order.
Try your program with the following list
[2,6, 7, 45, 23, 53, 14, 45, 89, 5]

The solution is displayed below:

In [20]:
g_list = [2,6, 7, 45, 23, 53, 14, 45, 89, 5]
g_list.reverse()
print(g_list)

[5, 89, 45, 14, 53, 23, 45, 7, 6, 2]

4.Write a program that accepts two lists of integers and prints true if each element in the first
list is less than the element at the same index in the second list. Your program should print
false if the lists are not the same length.

The solution is displayed below:

In [21]:
list_1 = [2,3,4,6,7,8,1,3,5,4,9,12,4,5,6,7,8,9]
list_2 =[3,5,7,9,8,7,3,5,1,2,3,4,6,7,8,]
if len(list_1) < len(list_2):
    print("True")
else:
    print("False")

False

5.Write a program that accepts a list of integers and two indexes and swaps the elements at
those indexes


The solution is displayed below

In [22]:
my_listx = [2,3,4,6,7,8,1,3,5,4,9,12,4,5,6,7,8,9]
# Assume index 1 and 2 a value
index1 =4
index2 =5
print("original listx:", my_listx)
if 0 <= index1 < len(my_listx) and 0 <= index2 < len(my_listx):
    my_listx[index1],my_listx[index2] = my_listx[index2],my_listx[index1]
    print("valid index:swapped successfully")
    print("updated listx:",my_listx)
else:
    print("invalid index:Not swapped")

original listx: [2, 3, 4, 6, 7, 8, 1, 3, 5, 4, 9, 12, 4, 5, 6, 7, 8, 9]
valid index:swapped successfully
updated listx: [2, 3, 4, 6, 8, 7, 1, 3, 5, 4, 9, 12, 4, 5, 6, 7, 8, 9]

6.Write a program that accepts two lists of integers and prints a new list containing all
elements of the first list followed by all elements of the second.

The solution is displayed below :

In [23]:
int_list1= [2, 4, 7, 4, 23, 5, 1, 4, 8, 9]
int_list2= [2,3,4,6,7,8,1,3,5,4,9,12,4,5,6,7,8,9]
int_all = int_list1 + int_list2
int_all

[2,
 4,
 7,
 4,
 23,
 5,
 1,
 4,
 8,
 9,
 2,
 3,
 4,
 6,
 7,
 8,
 1,
 3,
 5,
 4,
 9,
 12,
 4,
 5,
 6,
 7,
 8,
 9]

7.Write a program that accepts a list of integers and an integer value as its parameters and
prints the last index at which the value occurs in the list. The program should print –1 if the
value is not found. For example, in the list [74, 85, 102, 99, 101, 85, 56], the last index of the
value 85 is 5.

The solution is displayed below

In [24]:
my_list = [74, 85, 102, 99, 101, 85, 56]
search_value = 85
if search_value in my_list:
    last_index = len(my_list)-1-my_list[::-1].index(search_value)
    print("The last index is:",last_index)
else:
    print("The last index is:",-1)

The last index is: 5


8.Write a program that prints the range of values in a list of integers. The range is defined as 1
more than the difference between the maximum and minimum values in the list. For
example, if a list contains the values [36, 12, 25, 19, 46, 31, 22], the program should return
35. You may assume that the list has at least one element.


The solution is displayed below:

In [25]:
#list of integers
my_list = [36, 12, 25, 19, 46, 31, 22]
#calculate the list range
list_range = max(my_list)- min(my_list)+1
#print the result
print("The list range is",list_range)

The list range is 35

9.Write a program that accepts a list of integers, a minimum value, and a maximum value and
prints the count of how many elements from the list fall between the minimum and
maximum (inclusive). For example, in the list [14, 1, 22, 17, 36, 7, -43, 5], for minimum value
4 and maximum value 17, there are four elements whose values fall between 4 and 17.

The final answer is displayed below:

In [26]:
#list of integers
my_list = [14, 1, 22, 17, 36, 7, -43, 5]
count = 0
#minimum and maximum value
min_value=4
max_value=17
for num in my_list:
    if min_value<=num<=max_value :
         count+=1   
print(f"The count of elements that falls between {min_value} and {max_value} is:",count)

The count of elements that falls between 4 and 17 is: 4

10. Write a program that accepts a list of real numbers and prints true if the list is in sorted
(nondecreasing) order and false otherwise. For example, if lists named list1 and list2 store
[16.1, 12.3, 22.2, 14.4] and [1.5, 4.3, 7.0, 19.5, 25.1, 46.2] respectively, the program should
print false for list1 and true for list2 respectively. Assume the list has at least one element. A
one-element list is sorted.

The solution is displayed below

In [27]:
# List of real numbers
list1 = [16.1, 12.3, 22.2, 14.4]
list2 = [1.5, 4.3, 7.0, 19.5, 25.1, 46.2]

# Check if the list is sorted (non-decreasing) and print the result
print(f"Is list1 sorted? {list1 == sorted(list1)}")
print(f"Is list2 sorted? {list2 == sorted(list2)}")

Is list1 sorted? False
Is list2 sorted? True

# EXERCISE 4 5

1. Write a program to produce the following output using for loop
+----+
\ /
/ \
\ /
/ \
\ /
/ \
+----+


The Solution will be displayed below:

In [28]:
output = "+"
for _ in range(4):
    output +="-"
output += "+"
#Print the first line
print(output)
for _ in range(4):
    print("\\ /")
    print("/ \\")
#print the last line
print(output)

+----+
\ /
/ \
\ /
/ \
\ /
/ \
\ /
/ \
+----+

2.Write a program to produce the following output using for loop
**********
**********
**********
**********
**********

In [29]:
for star in range(5):
    print("**********")

**********
**********
**********
**********
**********

3. Complete the code for the following for loop:
for in range(1,7):
 //your code here
so that it prints the following numbers, one per line:
a) 1 b) 2 c) 4 d) 30 e) -7 f) 97 g) -4
   2    4   19    20    -3    94    14
   3    6   34    10     1    91    32
   4    8   49    0      5    88    50
   5    10  64   -10     9    85    68
   6    12  79   -20     13   82    86
   
   
The solution is displayed below:

In [30]:
# Header line
print("a) 1 b) 2 c) 4 d) 30 e) -7 f) 97 g) -4")

# Loop for each row
for i in range(1, 7):
    # Print the current row's first character
    print(f"   {i}", end="")

    # Loop for each column within the row
    for j in range(1, 8):
        if j == 1:
            # Skip the first column as it's already printed
            continue
        elif j == 2:
            # Print the current column value
            print(f"    {i * 2}", end="")
        elif j == 3:
            print(f"   {i * 7 - 5}", end="")
        elif j == 4:
            print(f"   {10 - i}", end="")
        elif j == 5:
            print(f"   {(i - 4) * 3}", end="")
        elif j == 6:
            print(f"   {93 + i}", end="")
        elif j == 7:
            print(f"   {(i - 3) * 14}", end="")

    # Move to the next line after printing each row
    print()

a) 1 b) 2 c) 4 d) 30 e) -7 f) 97 g) -4
   1    2   2   9   -9   94   -28
   2    4   9   8   -6   95   -14
   3    6   16   7   -3   96   0
   4    8   23   6   0   97   14
   5    10   30   5   3   98   28
   6    12   37   4   6   99   42

4.Write a program to produce the following output using for loops. Then
use a class constant to make it possible to change the number of lines in
the figure.
1
22
333
4444
55555
666666
7777777  


The solution is displayed below:

In [31]:
# Class constant to determine the number of lines
NUM_LINES = 7

# Use nested for loops to print the pyramid
for i in range(1, NUM_LINES + 1):
    for j in range(i):
        print(i, end="")
    print()

1
22
333
4444
55555
666666
7777777

5.Write a method named pay that accepts two parameters: a real number
for a TA's salary, and an integer for the number of hours the TA worked
this week. The method should return how much money to pay the TA.
For example, the call
pay(5.50, 6)
should return
33.0.
The TA should receive "overtime" pay of 1 ½ normal salary for any hours
above 8. For example, the call pay(4.00, 11) should return (4.00 *8) + (6.00 * 3) or 50.0. 


The answer will be displayed today:

In [33]:
hourly_rate = 5.50
hours_worked = 6

normal_hours = 8
overtime_rate = 1.5

if hours_worked <= normal_hours:
    # Regular pay for normal hours
    total_pay = hourly_rate * hours_worked
else:
    # Calculate pay for normal hours
    normal_pay = hourly_rate * normal_hours

    # Calculate pay for overtime hours
    overtime_hours = hours_worked - normal_hours
    overtime_pay = hourly_rate * overtime_rate * overtime_hours

    # Total pay is the sum of normal and overtime pay
    total_pay = normal_pay + overtime_pay

# Print the result
print(total_pay)

33.0

6.Consider the following method for converting milliseconds into days:
// converts milliseconds to days
def toDays(millis):
 return millis / 1000.0 / 60.0 / 60.0 / 24.0
Write a similar method named area that takes as a parameter the radius of
a circle and that returns the area of the circle. For example, the call
area(2.0);
should return
12.566370614359172.
Recall that area can be computed as π times the radius squared and that
Python has a constant called math.pi

The solution is displayed below:

In [34]:
import math
def area(radius):
    return math.pi * radius**2
radius = 2.0
result = area(radius)
print(result)

12.566370614359172

7. Copy and paste the following code into pythons IDLE script
environment.
 low = 1
 high = 1001
 sum = 0
 for i in range(low,high):
 sum += i

 print("sum = " , sum)

Modify the code to use a input to prompt the user for the values of low
and high. Below is a sample execution in which the user asks for the same
values as in the original program (1 through 1000):
low? 1
high? 1001
sum = 500500
Below is an execution with different values for low and high:
low? 300
high? 5298
sum = 13986903
You should exactly reproduce this format.



The solution is displayed below:

In [36]:
# Prompt the user to enter the lower bound of the range as an integer
low = int(input("low? "))

# Prompt the user to enter the upper bound of the range as an integer
high = int(input("high? "))

# Initialize a variable to store the sum of numbers in the specified range
sum_result = 0

# Iterate over the range from 'low' to 'high' (excluding 'high')
for i in range(low, high):
    # Add the current value of 'i' to the sum_result
    sum_result += i

# Print the final sum_result after the loop is complete
print("sum = ", sum_result)

low? 1
high? 1001
sum =  500500

8.Write a program using while loop that prompts the user for numbers until
the user types 0, then outputs their sum.

In [41]:
#initialize your sum to be zero
sum = 0
user_input = int(input("input until 0:"))
#using the while loop
while True:
    if user_input == 0:
            sum += user_input
            break #Exit the lOOP if zero is entered
#print to display the result        
print("sum of entered number is:",sum)

input until 0:0
sum of entered number is: 0

9. Write a program using while loop that prompts the user for numbers until
the user types -1, then outputs their sum.

In [42]:
#initialize your sum to be zero
sum_input = 0
user_input = int(input("input until -1 :"))
#using the while loop
while True:
    if user_input == -1:
        break#Exit the loop if zero is entered
#print to display the result 
        sum_input += user_input
print("The sum of numbers entered = ", sum_input)

input until -1 :-1
The sum of numbers entered =  0

10.Write a method named repl that accepts a String and a number of
repetitions as parameters and returns the String concatenated that many
times. For example, the call repl("hello", 3) returns "hellohellohello".
If the number of repetitions is 0 or less, an empty string is returned.

The solution is diplayed below:

In [54]:
def repl(name,num):
#check if the repition are less than or equal to zero   
    if num <= 0:
#it does not return any output if the repitition is less than or equal to 0       
         return ""
#concatinate the input to get result 
    result =name * num
    return result

name = "hello" 
num = 3
result = repl(name,num)
#print the result
print(result)

hellohellohello

11.Write a method called printRange that accepts two integers as arguments and
prints the sequence of numbers between the two arguments, separated by
spaces. Print an increasing sequence if the first argument is smaller than
the second; otherwise, print a decreasing sequence. If the two numbers
are the same, that number should be printed by itself. Here are some
sample calls to printRange:
printRange(2, 7)
printRange(19, 11)
printRange(5, 5)
The output produced should be the following:
2 3 4 5 6 7
19 18 17 16 15 14 13 12 11
5


The solution is displayed below:

In [46]:
# Sample calls
start1, end1 = 2, 7
start2, end2 = 19, 11
start3, end3 = 5, 5

# Print the sequence for the first call
if start1 < end1:
    for num in range(start1, end1 + 1):
        print(num, end=" ")
elif start1 > end1:
    for num in range(start1, end1 - 1, -1):
        print(num, end=" ")
else:
    print(start1)

print()

# Print the sequence for the second call
if start2 < end2:
    for num in range(start2, end2 + 1):
        print(num, end=" ")
elif start2 > end2:
    for num in range(start2, end2 - 1, -1):
        print(num, end=" ")
else:
    print(start2)

print()

# Print the sequence for the third call
if start3 < end3:
    for num in range(start3, end3 + 1):
        print(num, end=" ")
elif start3 > end3:
    for num in range(start3, end3 - 1, -1):
        print(num, end=" ")
else:
    print(start3)

2 3 4 5 6 7
19 18 17 16 15 14 13 12 11
5

12.Write a method named smallestLargest that asks the user to enter numbers,
then prints the smallest and largest of all the numbers typed in by the
user. You may assume the user enters a valid number greater than 0 for
the number of numbers to read. Here is an example dialogue:
How many numbers do you want to enter? 4
Number 1: 5
Number 2: 11
Number 3: -2
Number 4: 3
Smallest = -2
Largest = 11

In [47]:
user_input = int(input("How many num do you want to input(must be greater than zero):"))
smallest = float("inf")
largest = float("-inf")
for i in range(1,user_input+1):
    num_numbers=float(input(f"NUMBER {i}:"))
    smallest = min(smallest,num_numbers)
    largest = max(largest,num_numbers)
#print the smallest and largest number to get the result
print("smallest:",smallest) 
#or print(f"smallest = {smallest}")
print("largest:",largest)

How many num do you want to input(must be greater than zero):5
NUMBER 1:9
NUMBER 2:8
NUMBER 3:7
NUMBER 4:5
NUMBER 5:5
smallest: 5.0
largest: 9.0

13.Write a method called printAverage that uses a sentinel(while) loop to
repeatedly prompt the user for numbers. Once the user types any number
less than zero, the method should display the average of all nonnegative
numbers typed. Display the average as a double. Here is a sample
dialogue with the user:
Type a number: 7
Type a number: 4
Type a number: 16
Type a number: –4
Average was 9.0
If the first number that the user types is negative, do not print an average:
Type a number: –2

In [49]:
# Initialize variables for sum and count
total = 0
count = 0

while True:
    # Prompt the user to type a number
    user_input = float(input("Type a number: "))

    # Check if the entered number is less than zero
    if user_input < 0:
        # Check if any nonnegative numbers were entered
        if count > 0:
            # Calculate and print the average
            average = total / count
            print(f"Average was {average}")
        else:
            print("No nonnegative numbers were entered.")
        
        break  # Exit the loop

    # Update sum and count with the nonnegative number
    total += user_input
    count += 1

Type a number: 6
Type a number: 0
Type a number: -7
Average was 3.0

14.Write a method named numUnique that takes three integers as parameters
and returns the number of unique integers among the three. For example,
the call numUnique(18, 3, 4) should return 3 because the parameters
have three different values. By contrast, the call numUnique(6, 7, 6)
should return 2 because there are only two unique numbers among the
three parameters: 6 and 7.
    
The solution is displayed below:

In [50]:
#define the unique numbers
def numUnique(num1,num2,num3):
    unique_numbers = set([num1,num2,num3])
    return len(unique_numbers)
result1 = numUnique(18, 3, 4)
print(result1)
result2 = numUnique(6, 7, 6)
print(result2)

3
2

15.A Random object generates pseudo-random numbers. Find out how to
use the Random class and write a program that simulates rolling of two 6-
sided dice until their combined result comes up as 7. One possible output
can be seen as below:
2 + 4 = 6
3 + 5 = 8
5 + 6 = 11
1 + 1 = 2
4 + 3 = 7
You won after 5 tries!

The solution is displayed below

In [52]:

import random
tries = 0 
while True:
    die1 = random.randint(1,6)
    die2 = random.randint(1,6)
    print(f"{die1} + {die2} = {die1 + die2}")
    tries += 1
    if die1 + die2 ==7:
        print(f"you won after {tries} tries!")
        break

1 + 3 = 4
2 + 4 = 6
2 + 3 = 5
4 + 1 = 5
4 + 3 = 7
you won after 5 tries!

# ASSIGNMENT ON DATA TYPES

check at least 20 method in list,tuples,dictionaries and give an example writing a python code

1.LIST

In [61]:
# remove is used to remove the first occurence of 8 in the list
my_list = [9,4,10,5,2,3,9,8,8,7,16,23,18]
remove_list = my_list.remove(8)
my_list

[9, 4, 10, 5, 2, 3, 9, 8, 7, 16, 23, 18]

In [77]:
# del function is used to delete the range of indices from 5 downward
my_list = [9,4,10,5,2,3,9,8,8,7,16,23,18]
del my_list[5:]
my_list

[9, 4, 10, 5, 2]

In [78]:
#reverse function is used to reverse the order of its elements
my_list = [9,4,10,5,2,3,9,8,8,7,16,23,18]
my_list.reverse()
my_list

[18, 23, 16, 7, 8, 8, 9, 3, 2, 5, 10, 4, 9]

In [79]:
#The sort function is used to create a new list that is a sorted version of the original list without modifying the original list.
my_list = [9,4,10,5,2,3,9,8,8,7,16,23,18]
my_list.sort()
my_list

[2, 3, 4, 5, 7, 8, 8, 9, 9, 10, 16, 18, 23]

In [80]:
#The append function is used to add an element to the end of a list. It modifies the original list in place
my_list = [9,4,10,5,2,3,9,8,8,7,16,23,18]
my_list.append(5)
my_list

[9, 4, 10, 5, 2, 3, 9, 8, 8, 7, 16, 23, 18, 5]

In [89]:
#The index funtion is used to find the index of the first occurrence of a specified value in the list
my_list = [9,4,10,5,2,3,9,8,8,7,16,23,18]
index=my_list.index(5)
index

3

In [92]:
#The pop function is used to remove and return the item at a specified index
my_list = [9,4,10,5,2,3,9,8,8,7,16,23,18]
my_list.pop(2)
my_list

[9, 4, 5, 2, 3, 9, 8, 8, 7, 16, 23, 18]

2.Tuples

In [96]:
#The count function is used to count the number of occurrences of a specified element in a tuple
my_turple = (9,4,10,5,2,3,9,8,8,7,16,23,18)
count=my_turple.count(8)
count

2

In [100]:
#The index function is used to find the index of the first occurrence of a specified value in a tuple
my_tuple = (9,4,10,5,2,3,9,8,8,7,16,23,18)
index = my_tuple.index(18)
print(index)

12

In [101]:
#The max function is used to find the maximum value in a tuple.
my_tuple = (9,4,10,5,2,3,9,8,8,7,16,23,18)
maximum =max(my_tuple) #to get the largest number
print(maximum)

23

In [103]:
#The min function is used to find the miniimum value in a tuple.
my_tuple = (9,4,10,5,2,3,9,8,8,7,16,23,18)
minimum =min(my_tuple) #to get the smallest number
print(minimum)

2

In [104]:
#The len functuon is used to get the length (number of elements) of an object, including tuples
tuple = (9,4,10,5,2,3,9,8,8,7,16,23,18)
length = len(my_tuple)
print(length)

13

In [108]:
#The sorted function is used to sort the elements of an iterable, including tuples
my_tuple = (9,4,10,5,2,3,9,8,8,7,16,23,18)
sort_tuple = sorted(my_tuple)
sort_tuple

[2, 3, 4, 5, 7, 8, 8, 9, 9, 10, 16, 18, 23]

In [123]:
#To check if there are any boolean in my_tuple
my_tuple = (True,4,False,5,2,0,9,True,8,7,0,23,False)
any_tuple = any(my_tuple)
print(any_tuple)

True

3.DICTIONARY

In [124]:
#get(): Returns the value for the specified key.
dic = {"name":"tito","animal":"monkey","school":"futa","phone":"tecno"}
get_value = dic.get("name")
get_valie

'tito'

In [126]:
#keys(): Returns a view of all keys in the dictionary.
dic = {"name":"tito","animal":"monkey","school":"futa","phone":"tecno"}
keys = dic.keys()
print(keys)

dict_keys(['name', 'animal', 'school', 'phone'])

In [130]:
#clear(): Removes all items from the dictionary.
dic = {"name":"tito","animal":"monkey","school":"futa","phone":"tecno"}
dic.clear()
print(dic)

{}

In [136]:
#dict(): Creates a new dictionary.
my_dict =dict (name="segun",b=2,c=3,d=4,e=5, town = "Ikogosi")
my_dict

{'name': 'segun', 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'town': 'Ikogosi'}

In [137]:
# in: Checks if a key is present in the dictionary.
my_dict = {'name': 'segun', 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'town': 'Ikogosi'}
is_present = "name" in my_dict
print(is_present)

True

In [140]:
#not in : Checks if a key is not present in the dictionary.
my_dict = {'name': 'segun', 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'town': 'Ikogosi'}
not_present = "f" not in my_dict
print(not_present)

True